* {
  margin: 0;
  padding: 0;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

header {
  width: 1332px;
  height: 81px;
  margin: 0 auto;
  .img {
    width: 666px;
    height: 81px;
    margin-left: 333px;
    position: relative;
    float: left;
    img {
      width: 170px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -85px;
      margin-top: -15px;
    }
  }
  .login {
    float: left;
    width: 333px;
    height: 81px;
    div {
      width: 303px;
      height: 52px;
      padding: 0 15px;
      margin-left: 30px;
      .loginbtn {
        float: left;
        margin-top: 34px;
        font-size: 12px;
        cursor: pointer;
        margin-left: 50px;
        margin-right: 20px;
      }
      .iconfont {
        font-size: 40px;
        float: left;
        margin-top: 11px;
        cursor: pointer;
      }
      em {
        float: left;
        display: block;
        width: 18px;
        height: 18px;
        font-style: normal;
        color: #ffffff;
        background-color: red;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
        margin-top: 20px;
        border-radius: 50%;
        margin-left: -18px;
        cursor: pointer;
      }
    }
  }
}

.navigator {
  width: 100%;
  height: 51px;
  margin: 0 auto;
  .nav {
    float: left;
    width: 100%;
    height: 51px;
    padding-top: 4px;
    ul {
      list-style: none;
      width: 252px;
      height: 51px;
      margin: 0 auto;
      > li {
        float: left;
        font-size: 12px;
        margin: 0 15px;
        text-align: center;
        position: relative;
        height: 100%;
        &:hover .ol {
          display: block;
          z-index: 4;
        }
        &:nth-child(2) {
          .ol {
            margin-left: -618px;
          }
        }
        &:nth-child(3) {
          .ol {
            margin-left: -678px;
          }
        }
        .ol {
          position: absolute;
          margin-top: 34px;
          margin-left: -568px;
          width: 1360px;
          height: 371px;
          padding-top: 20px;
          padding-left: 40px;
          padding-right: 40px;
          border-top: 1px solid #ececec;
          display: none;
          background-color: white;
          > div {
            width: 25%;
            height: 100%;
            float: left;
            text-align: left;
            margin: 0;
            em {
              font-style: normal;
              font-weight: bolder;
            }
            ul {
              height: 300px;
              margin-left: 0;
              margin-top: 8px;
              li {
                height: 30px;
                text-align: left;
                margin: 0;
                float: none;
                font-size: 13px;
                color: #333333;
                font-weight: 100;
                cursor: pointer;
                &:hover {
                  list-style: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  ol {
    list-style: none;
    width: 1302px;
    height: 51px;
    margin: 10px 69px 23px;
    li {
      float: left;
      font-size: 13px;
      color: #808080;
    }
  }
  .row {
    width: 1332px;
    height: 615px;
    margin: 0 auto;
    .left {
      float: left;
      article {
        width: 611px;
        height: 100%;
        margin-left: 55px;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .box {
            width: 450px;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .box>.show {
            width: 450px;
            height: 450px;
            border: 1px solid #333;
            position: relative;
        }

        .box>.show>.mask {
            width: 200px;
            height: 200px;
            background-color: grey;
            opacity: .4;
            position: absolute;
            top: 0px;
            left: 0px;

            display: none;
        }

        .box>.list {
            width: 100%;
            flex: 1;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            box-sizing: border-box;
            padding: 20px;
        }

        .box>.list>p {
            width: 54px;
            height: 54px;
            border: 1px solid #333;
            margin-right: 10px;
        }

        .box>.list>p.active {
            border-color: red;
        }

        .box>.enlarge {
            /* 容器 与背景图的比例为 1 ：2 */
            width: 400px;
            height: 400px;
            position: absolute;
            top: 0;
            left: 101%;
            background-size: 800px 800px;
            background-position: 0 0;
            display: none;
        }
      }
    }
    .right {
      float: right;
      width: 444px;
      height: 615px;
      margin: 0 0 0 111px;
      padding: 0 15px;
      h1 {
        height: 53px;
        font-size: 27px;
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-weight: 500;
        span {
          font-size: 15px;
          margin: 5px 0 8px;
          font-weight: 200;
        }
      }
      em {
        font-style: normal;
        color: #ffffff;
        background-color: #000000;
        font-size: 12px;
        margin: 10px 0;
        padding: 0 4px;
        font-weight: 100;
      }
      .dropdown {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
        .btn {
          width: 100%;
          text-align: left;
          &:hover {
            background-color: #ffffff;
          }
          .caret {
            float: right;
            margin-top: 8px;
          }
        }
        .dropdown-menu {
          width: 100%;
          margin-top: -7px;
          background-color: #e6e6e6;
          li {
            margin-left: -8px;
          }
        }
      }
      .price {
        height: 34px;
        font-size: 14px;
        margin-bottom: 6px;
        p {
          color: #000000;
          font-size: 14px;
        }
      }
      #add {
        display: block;
        width: 100%;
        height: 40px;
        padding: 10.5px 25px;
        color: #ffffff;
        background-color: #000000;
        outline: none;
        font-size: 12px;
        &:hover {
          color: #000000;
          background-color: #ffffff;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #e6e6e6;
  ul {
    height: 194px;
    padding: 50px 0;
    display: flex;
    list-style: none;
    color: #000000;
    li {
      float: left;
      flex: 1;
      h3 {
        font-size: 17px;
        text-align: center;
      }
      p {
        font-size: 12px;
        width: 414px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 200;
      }
      span {
        display: block;
        width: 76px;
        height: 40px;
        padding: 10.5px 25px;
        font-size: 12px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #dedede;
        cursor: pointer;
        &:hover {
          background-color: #dddddd;
        }
      }
    }
  }
}
