* {
  margin: 0;
  padding: 0;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

header {
  width: 1332px;
  height: 81px;
  margin: 0 auto;
}

header .img {
  width: 666px;
  height: 81px;
  margin-left: 333px;
  position: relative;
  float: left;
}

header .img img {
  width: 170px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -85px;
  margin-top: -15px;
}

header .login {
  float: left;
  width: 333px;
  height: 81px;
}

header .login div {
  width: 303px;
  height: 52px;
  padding: 0 15px;
  margin-left: 30px;
}

header .login div span {
  float: right;
  margin-top: 34px;
  font-size: 12px;
}

.navigator {
  width: 100%;
  height: 51px;
  margin: 0 auto;
}

.navigator .nav {
  float: left;
  width: 100%;
  height: 51px;
  padding-top: 4px;
}

.navigator .nav ul {
  list-style: none;
  width: 252px;
  height: 51px;
  margin: 0 auto;
}

.navigator .nav ul > li {
  float: left;
  font-size: 12px;
  margin: 0 15px;
  text-align: center;
  position: relative;
  height: 100%;
}

.navigator .nav ul > li:hover .ol {
  display: block;
  z-index: 4;
}

.navigator .nav ul > li:nth-child(2) .ol {
  margin-left: -618px;
}

.navigator .nav ul > li:nth-child(3) .ol {
  margin-left: -678px;
}

.navigator .nav ul > li .ol {
  position: absolute;
  margin-top: 34px;
  margin-left: -568px;
  width: 1360px;
  height: 371px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid #ececec;
  display: none;
  background-color: white;
}

.navigator .nav ul > li .ol > div {
  width: 25%;
  height: 100%;
  float: left;
  text-align: left;
  margin: 0;
}

.navigator .nav ul > li .ol > div em {
  font-style: normal;
  font-weight: bolder;
}

.navigator .nav ul > li .ol > div ul {
  height: 300px;
  margin-left: 0;
  margin-top: 8px;
}

.navigator .nav ul > li .ol > div ul li {
  height: 30px;
  text-align: left;
  margin: 0;
  float: none;
  font-size: 13px;
  color: #333333;
  font-weight: 100;
  cursor: pointer;
}

.navigator .nav ul > li .ol > div ul li:hover {
  list-style: initial;
}

main {
  width: 100%;
  margin: 0 auto;
}

main .banner {
  margin-top: 5px;
}

main .banner .swiper-container {
  width: 100%;
  height: 500px;
}

main .show1 {
  height: 492px;
  margin-top: 120px;
}

main .show1 .left {
  width: 50%;
  height: 492px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .show1 .left h2 {
  height: 30px;
  margin: 10px 0 30px;
  font-size: 28px;
  text-align: center;
}

main .show1 .left span {
  display: block;
  width: 463px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto 30px;
  font-weight: 200;
}

main .show1 .left a {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: black;
  line-height: 40px;
  color: #ffffff;
  margin: 0 auto;
  font-size: 12px;
  text-decoration: none;
  outline: none;
}

main .show1 .left a:hover {
  color: #000000;
  background-color: #dddddd;
}

main .show1 .right {
  width: 50%;
  height: 492px;
  float: left;
  position: relative;
}

main .show1 .right img:nth-child(1) {
  width: 534px;
  height: 447px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -267px;
}

main .show1 .right img:nth-child(2) {
  width: 214px;
  height: 290px;
  position: absolute;
  left: 0;
  bottom: -80px;
  display: block;
}

main .show2 {
  height: 491px;
  margin-top: 120px;
}

main .show2 .left {
  float: left;
  width: 50%;
  height: 490px;
  position: relative;
}

main .show2 .left img:nth-child(1) {
  width: 392px;
  height: 490px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -196px;
}

main .show2 .left img:nth-child(2) {
  width: 107px;
  height: 325px;
  position: absolute;
  right: 110px;
  bottom: -80px;
  display: block;
}

main .show2 .right {
  float: left;
  width: 50%;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .show2 .right h2 {
  height: 30px;
  margin: 10px 0 30px;
  font-size: 28px;
  text-align: center;
}

main .show2 .right span {
  display: block;
  width: 463px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto 30px;
  font-weight: 200;
}

main .show2 .right a {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: black;
  line-height: 40px;
  color: #ffffff;
  margin: 0 auto;
  font-size: 12px;
  text-decoration: none;
  outline: none;
}

main .show2 .right a:hover {
  color: #000000;
  background-color: #dddddd;
}

.goodslist {
  margin-top: 120px;
  height: auto;
}

.goodslist h2 {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.goodslist > p {
  width: 712px;
  height: 25px;
  margin: 0 auto 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.goodslist ul {
  margin-bottom: 50px;
}

.goodslist ul li:nth-child(1) {
  margin-left: 160px;
}

.goodslist .button {
  width: 100%;
  height: 40px;
}

.goodslist .button button {
  display: block;
  height: 40px;
  width: 120px;
  float: right;
  background-color: #000000;
  color: #FFFFFF;
  margin-right: 10px;
  margin-top: -20px;
  outline: none;
}

.goodslist ol {
  list-style: none;
  width: 1332px;
  margin: 0 auto;
  height: auto;
  cursor: pointer;
}

.goodslist ol li {
  float: left;
  width: 50%;
  height: 210px;
  margin: 0 -2px 60px;
  padding: 0 15px;
}

.goodslist ol li img {
  width: 210px;
  height: 210px;
  margin: 0 39px;
  float: left;
  cursor: pointer;
}

.goodslist ol li .textbox {
  width: 288px;
  height: 157px;
  float: left;
  margin: 0 15px;
  margin-top: 52px;
}

.goodslist ol li .textbox a {
  font-size: 17px;
  height: 24px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.goodslist ol li .textbox span {
  display: block;
  font-size: 15px;
  height: 17px;
  font-weight: 100;
  margin-bottom: 25px;
  cursor: pointer;
}

.goodslist ol li .textbox .discontent {
  height: 15px;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  font-style: normal;
  padding: 0 4px;
}

.goodslist ol li .textbox p {
  height: 12px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 6px;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

.goodslist ol li .textbox button {
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  background-color: #000000;
  outline: none;
}

.goodslist ol li .textbox button:hover {
  color: #000000;
  background-color: #dddddd;
}

footer {
  border-top: 1px solid #e6e6e6;
}

footer ul {
  height: 194px;
  padding: 50px 0;
  display: flex;
  list-style: none;
  color: #000000;
}

footer ul li {
  float: left;
  flex: 1;
}

footer ul li h3 {
  font-size: 17px;
  text-align: center;
}

footer ul li p {
  font-size: 12px;
  width: 414px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
}

footer ul li span {
  display: block;
  width: 76px;
  height: 40px;
  padding: 10.5px 25px;
  font-size: 12px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #dedede;
  cursor: pointer;
}

footer ul li span:hover {
  background-color: #dddddd;
}
